{% extends 'base.html' %}
{% load static %}
{% load shop_tags %}

{% block title %} {{ article.nom }} {% endblock %}
</nav>
{% block carousel %}

{% endblock %}


{% block main %}

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Produit detail</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Accueil</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">{{ article.nom }}</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Shop Detail Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 pb-5">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner border">
                    <div class="carousel-item active">
                        <img class="w-100 h-100" src="{{ article.image1.url }}" alt="Image">
                    </div>
                    {% if article.image2 %}
                    <div class="carousel-item">
                        <img class="w-100 h-100" src="{{ article.image2.url }}" alt="Image">
                    </div>
                    {% endif %}
                    {% if article.image3 %}
                    <div class="carousel-item">
                        <img class="w-100 h-100" src="{{ article.image3.url }}" alt="Image">
                    </div>
                    {% endif %}

                </div>
                <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>
                <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-7 pb-5">
            <h3 class="font-weight-semi-bold">{{ article.nom }}</h3>
            <div class="d-flex mb-3">
                <div class="text-primary mr-2">
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star-half-alt"></small>
                    <small class="far fa-star"></small>
                </div>
            </div>
            <h3 class="font-weight-semi-bold mb-4">${{ article.prix }}.00</h3>
            <p class="mb-4">{{ article.description }}</p>

            <div class="d-flex pt-2">
                <p class="text-dark font-weight-medium mb-0 mr-2">partager sur:</p>
                <div class="d-inline-flex">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-pinterest"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Description</a>
                <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2">Information</a>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-pane-1">
                    <h4 class="mb-3">Product Description</h4>
                    <p>{{ article.description }}</p>
                </div>
                <div class="tab-pane fade" id="tab-pane-2">
                    <h4 class="mb-3">Information Supplementaire</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item px-0">
                                    <strong>Categorie :</strong> {{ article.categorie }}
                                </li>
                                {% if genre %}
                                <li class="list-group-item px-0">
                                    <strong>Genre :</strong> {{ article.genre }}
                                </li>
                                {% endif %}

                              </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Detail End -->


{% if simulaire %}
<!-- Products Start -->
<div class="container-fluid py-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Article simulaire</span></h2>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel related-carousel">
                {% for article in simulaire %}
                <div class="card product-item border-0" style="height: 400px">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src="{{ article.image1.url }}" alt="">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{ article.nom }}</h6>
                        <div class="d-flex justify-content-center">
                            <h6>${{ article.prix }}.00</h6><h6 class="text-muted ml-2"><del>${{ article.prix|reduction }}</del></h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>plus d'information</a>
                        <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Commander</a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-4">
        <a style="padding: 10px; background: #527ed0; color: white; border-radius: 5px" href="{{ article.categorie.get_absolute_url }}">voir tout les produit de cette categorie</a>
    </div>
</div>
<!-- Products End -->
{% endif %}
é


{% endblock %}