{% extends 'base.html' %}
{% load static %}
{% load shop_tags %}

{% block title %} {{ article.nom }} {% endblock %}
{% block meta-data %}
    <meta property="og:title" content="{{ article.nom }}"/>
    <meta property="og:image" content="{{ article.image1.url }}"/>
    <meta property=’og:description’ content='{{ article.description }}'/>
    <meta property=’og:url’ content='{{ article.get_absolute_url }}'/>
    <meta property='og:image:width' content='1200' />
    <meta property='og:image:height' content='627' />
{% endblock %}
{% block carousel %}

{% endblock %}

{% block accueil %} - {% endblock %}
{% block shop %} - {% endblock %}
{% block categorie %} - {% endblock %}
{% block contact %} - {% endblock %}
{% block sell %} - {% endblock %}

{% block main %}

<!-- Page Header Start -->
<div class="container-fluid bg-secondary">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Produit detail</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Accueil</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0 font-weight-bold">{{ article.nom }}</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Shop Detail Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 pb-5">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner border">
                    <div class="carousel-item active" style="height:400px; align-content: center; ">
                        <img class="h-100" style="width: auto; margin-left: auto; display: block; margin-right: auto " src="{{ article.image1.url }}" alt="Image">
                    </div>

                    {% if article.image2 %}
                    <div class="carousel-item" style="height:400px; align-content: center; ">
                        <img class="h-100" style="width: auto; margin-left: auto; display: block; margin-right: auto "src="{{ article.image2.url }}" alt="Image">
                    </div>
                    {% endif %}
                    {% if article.image3 %}
                    <div class="carousel-item" style="height:400px; align-content: center; ">
                        <img class="h-100" style="width: auto; margin-left: auto; display: block; margin-right: auto "  src="{{ article.image3.url }}" alt="Image">
                    </div>
                    {% endif %}
                </div>
                <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>
                <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-7 pb-5">
            <h3 class="font-weight-semi-bold">{{ article.nom }}</h3>
            <div class="d-flex mb-3">
                <div class="text-primary mr-2">
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="far fa-star-half"></small>
                    <span style="color: #317fe7">(Produit de qualite)</span>
                </div>
            </div>
            <div class="d-flex justify-content-between mb-3">
            {% if promoactive %}
              <h3 class=" btn btn-primary font-weight-semi-bold ">Promotion : ${{ article.prix|spromo:ppromo }}.00</h3>

            {% else %}
            <div class="d-flex justify-content-center align-items-center">
                <span> prix :</span> <h3 class="font-weight-semi-bold d-inline">${{ article.prix }}.00</h3>
            </div>

            {% endif %}
            <a data-id="{{ article.id }}" data-name="{{ article.nom }}" data-price="{{ article.prix }}" data-image="{{ article.image1.url }} " data-url="{{ article.get_absolute_url }}"
               class="btn btn-primary add-to-card" style ="background: #ffb600!important; color: white!important; border-radius: 10px;">
                <i class="fa fa-cart-plus"> </i> ajouter au pannier
            </a>
            </div>
            <p class="mb-4">{{ article.description }}</p>
            <hr>

            <a href="https://wa.me/{{ numero }}" class="btn btn-primary w-100 mt-3 mb-2" style="background: #4f6ce3!important; color: white!important; border-radius: 10px">
                    <i class="fas fa-shopping-bag"> </i> Commander maintenant
            </a>

            <hr>
            <div class="d-flex pt-2">
                <p class="text-dark font-weight-medium mb-0 mr-2">Cet article vous plait ? Alors partagez le:</p>
                <div class="d-flex justify-content-between">
                    <a class="text-dark px-2" style="padding: 5px; background: #feaf00; color: #0e2e42; margin-left: 5px; border-radius: 5px" href="https://www.facebook.com/sharer/sharer.php?u={{ request.META.HTTP_HOST }}{{ article.get_absolute_url }}">
                        <i class="fab fa-facebook-f "></i>
                    </a>
                    <a class="text-dark px-2" style="padding: 5px; background: #feaf00; color: #0e2e42; margin-left: 5px; border-radius: 5px" href="https://wa.me/?text=Copkin%20%5Cn%20{{ request.META.HTTP_HOST }}{{ article.get_absolute_url }}">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a class="text-dark px-2" style="padding: 5px; background: #feaf00; color: #0e2e42; margin-left: 5px; border-radius: 5px" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.META.HTTP_HOST }}{{ article.get_absolute_url }}">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a class="text-dark px-2" style="padding: 5px; background: #feaf00; color: #0e2e42; margin-left: 5px; border-radius: 5px" href="https://twitter.com/intent/tweet?text=copkin%20&url={{ request.META.HTTP_HOST }}{{ article.get_absolute_url }}">
                        <i class="fab fa-twitter"></i>
                    </a>

                </div>

            </div>

        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Description</a>
                <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2">Information</a>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-pane-1">
                    <h4 class="mb-3">Product Description</h4>
                    <p>{{ article.description }}</p>
                </div>
                <div class="tab-pane fade" id="tab-pane-2">
                    <h4 class="mb-3">Information Supplementaire</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item px-0">
                                    <strong>Categorie :</strong> {{ article.categorie }}
                                </li>
                                {% if genre %}
                                <li class="list-group-item px-0">
                                    <strong>Genre :</strong> {{ article.genre }}
                                </li>
                                {% endif %}

                              </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Detail End -->


{% if simulaire.count > 1 %}
<!-- Products Start -->
<div class="container-fluid py-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Article simulaire</span></h2>
    </div>
    <div class="row px-xl-5">

        <div class="col">
            <div class="owl-carousel related-carousel">
                {% for art in simulaire %}
                <div class="card product-item border-0" style="height: 400px">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src="{{ art.image1.url }}" alt="">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{ art.nom }}</h6>
                        <div class="d-flex justify-content-center">
                            <h6>${{ art.prix }}.00</h6><h6 class="text-muted ml-2"><del>${{ art.prix|reduction }}</del></h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="{{ art.get_absolute_url }}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Voir l'article</a>
                        <a data-id="{{ art.id }}" data-name="{{ art.nom }}" data-price="{{ art.prix }}" data-image="{{ art.image1.url }} " data-url="{{ art.get_absolute_url }}" class="add-to-card btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Ajouter au panier</a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <a class="btn btn-primary w-100 mt-3" href="{% url 'shop_app:shopping_shop' %}"> voir tout nos produits</a>
</div>
<!-- Products End -->
{% else %}
<div class="container-fluid py-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">vous pourriez être interesser par</span></h2>
    </div>
    <div class="row px-xl-5">

        <div class="col">
            <div class="owl-carousel related-carousel">
                {% for art in articles %}
                <div class="card product-item border-0" style="height: 400px">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src="{{ art.image1.url }}" alt="">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{ art.nom }}</h6>
                        <div class="d-flex justify-content-center">
                            <h6>${{ art.prix }}.00</h6><h6 class="text-muted ml-2"><del>${{ art.prix|reduction }}</del></h6>
                        </div>
                    </div>

                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="{{ art.get_absolute_url }}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Voir l'article</a>
                        <a data-id="{{ art.id }}" data-name="{{ art.nom }}" data-price="{{ art.prix }}" data-image="{{ art.image1.url }} " data-url="{{ art.get_absolute_url }}" class="add-to-card  btn btn-sm text-dark p-0"><i class="fa fa-cart-plus text-primary mr-1"></i>Ajouter au panier</a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <a class="btn btn-primary w-100 mt-3" href="{% url 'shop_app:shopping_shop' %}"> voir tout nos produits</a>
</div>
{% endif %}
    {% if promotions %}
        <!-- Offer Start -->

        <div class="container-fluid pt-5 pb-3">

            <div class="row px-xl-5">
                {% for promo in promotions %}
                <div class="col-md-6">
                    <div class="product-offer mb-30" style="height: 300px;">
                        <img class="img-fluid" src="{{ promo.produit.image1.url }}" alt="">
                        <div class="offer-text">
                            <h6 class="text-white text-uppercase">{{ promo.nom }}</h6>
                            <h3 class="text-white mb-3 text-center">profiter de {{ promo.pourcent }} % de reduction
                                <br> sur {{ promo.produit.nom }}</h3>
                            <h5 style="color: #2d2dd3; background: rgba(255,255,255,0.66); border-radius: 5px; padding: 3px">${{ promo.produit.prix|spromo:promo.pourcent }}.00</h5><h6 style="background: rgba(245,72,72,0.81); padding: 4px; color: white"
                                                                                                                                                                                        class="ml-2"><del>${{ promo.produit.prix }}.00</del></h6>
                            <a href="{{ promo.produit.get_absolute_url }}" class="btn btn-primary">Profitez maintenant</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        <!-- Offer End -->

    {% else %}

        <div class=" p-30" style="height: 250px; background: center center url({% static 'img/app_background.jpg' %}) no-repeat">
            <div class="w-100 text-center pt-3" style="background: rgba(255,225,23,0.61); border-radius: 10px">
                <h5 >Télécharger notre application pour ne rien manquer</h5>
                <p> Disponible sur </p>
                    <div class="d-flex w-100 pb-2 justify-content-between align-items-center"></div>
                    <a  href="" >
                        <img  alt="Android " width="205px" src="{% static 'img/playstore.png' %}">
                    </a>
                    <a  href="" >
                        <img  alt="Iphone" width="155px" src="{% static 'img/logo-app-store.png' %}">
                    </a>
            </div>
        </div>
    {% endif %}

    <div class="container-fluid">
        <div class="col-lg-4">
                    <div class=" p-30" style="height: 250px; background: center center url({% static 'img/app_background.jpg' %}) no-repeat">

                    <div class="w-100 text-center pt-3" style="background: rgba(255,225,23,0.61); border-radius: 10px">
                        <h5 >Télécharger notre application pour ne rien manquer</h5>
                        <p> Disponible sur </p>
                            <div class="d-flex w-100 pb-2 justify-content-between align-items-center"></div>
                            <a  href="" >
                                <img  alt="Android " width="205px" src="{% static 'img/playstore.png' %}">
                            </a>
                            <a  href="" >
                                <img  alt="Iphone" width="155px" src="{% static 'img/logo-app-store.png' %}">
                            </a>
                    </div>
                </div>
                </div>
    </div>
{% endblock %}